body {
  margin: 0;
  padding: 0;
}

/* General */
.m-b-40 {
  margin-bottom: 40px;
}
.m-b-20{
  margin-bottom: 20px;;
}
.b-0{
  border-width: 0!important;
}
/* .d-always {
  display: block !important;
} */

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  background-size: cover;
  background-position: center;
}



.form-container {
  background-color: #fff;
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  /* margin: 0 auto; */
  margin-top: 15px;
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-container h2 {
  color: white;
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
  padding-bottom: 5px;
  font-size: 15px;
  text-align: center;
  font-style: italic;
}
.form-container h1 {
  color: #ccd5ae;
  font-size: 25px;
  /* text-align: center; */
  font-weight: bold;
  /* font-style: italic; */
  padding-bottom: 5px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

/* .form-group {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 250px;
} */

label {
  margin-bottom: 5px;
  color: grey;
}

input,
select {
  background-color: #333;
  color: white;
  padding: 10px;
  /* border: 1px solid white; */
  border-radius: 5px;
  width: 100%;
}

input[type="file"] {
  padding: 5px;
}

button {
  padding: 10px;
  background-color: red;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 20px;
  width: 100px;
  align-self: center;
  margin-top: 20px;
  font-weight: bolder;
}
button:hover {
  background-color: #557c56;
}

.info-title {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 18px;
}
/* ------- section ------ */

.student-data-wrap section {
  margin: 20px 0;
}

/* -------- form -------- */

.App .form-control {
  border-radius: 0;
  height: 42px;
}

.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}
.form-group > span {
  color: #c5705d;
  font-size: 12px;
  display: none;
  position: absolute;
  /* bottom: -18px; */
}

input:invalid ~ span,
select:invalid ~ span {
  display: none;
}

input:invalid.submitted ~ span,
select:invalid.submitted ~ span {
  display: block;
}

input:invalid.submitted,
select:invalid.submitted{
  border: 1px solid lightcoral;
}

input:invalid[focus="true"] ~ span,
select:invalid[focus="true"] ~ span {
  display: block;
}

input:invalid[focus="true"],
select:invalid[focus="true"]{
  border: solid 1px lightcoral;
}
.text-danger {
  color: red;
  font-size: 0.875rem;
  /* display: block; Smaller font size for error message */
}

.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.header-div{

  margin-bottom: 15px;
}
.form-container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px; /* Adjust width as needed */
  /* width: 100%; */
  width: 400px;
  padding: 20px; /* Add padding if needed */
  /* border: solid 1px gray; */
  background-color: #1e201e;
  /* background-color: #fff; */
  border-radius: 8px; /* Optional rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow */
}
.lgn-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.hdr {
  margin-bottom: 5px;
  color: white;
  /* font-style: italic; */
  font-weight: bold;
}



section.section-wrap{
  margin: 20px 0;
  padding: 20px 0;
}


.title-card{
  margin: 30px 0 25px;
}
@media screen and (max-width:576px){
  .title-card{
    margin: 30px 0 25px;
  }
}
